<div class="single-footer-widget footer_3">
    <h4>Subscribe newsletter</h4>
    <form action="#">
      <div class="form-group">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Email Address"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Email Address'"
          />
          <div class="input-group-append">
            <button class="btn" type="button">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    <p>
      Subscribe newsletter to get all updates about discount and
      offers.
    </p>
  </div>